In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests

# Import the API key.
from config import g_key

# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Ushuaia,AR,2022-05-04 19:37:36,-54.8000,-68.3000,42.46,65,75,9.22
1,1,Hobart,AU,2022-05-04 19:40:18,-42.8794,147.3294,42.66,90,21,6.91
2,2,Hermanus,ZA,2022-05-04 19:40:33,-34.4187,19.2345,62.46,85,99,8.48
3,3,Provideniya,RU,2022-05-04 19:40:33,64.3833,-173.3000,29.28,77,58,8.59
4,4,Fortuna,US,2022-05-04 19:40:34,40.5982,-124.1573,60.93,85,40,12.66

In [2]:
# Get the data types.
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [3]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [4]:
# Get the maximum temperature.

max_temp = city_data_df["Max Temp"]
temps = []

for temp in max_temp:
    temps.append(max(temp, 0))

In [5]:
# 1. Assign the locations to an array of latitude and longitude pairs.
locations = city_data_df[["Lat", "Lng"]]

# 2. Assign the weights variable to some values.
max_temp = city_data_df["Max Temp"]

# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)

# 5. Add the heatmap layer.
fig.add_layer(heat_layer)

# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Ask the customer to add a minimum and maximum temperature value.

min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [10]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
9,9,Kapaa,US,2022-05-04 19:40:35,22.0752,-159.3190,77.11,82,75,18.41
13,13,Avarua,CK,2022-05-04 19:40:37,-21.2078,-159.7750,80.65,78,60,9.22
17,17,Hithadhoo,MV,2022-05-04 19:40:38,-0.6000,73.0833,84.15,74,100,20.38
20,20,Rikitea,PF,2022-05-04 19:40:39,-23.1203,-134.9692,77.43,84,100,19.71
21,21,Daru,PG,2022-05-04 19:40:39,-9.0763,143.2092,79.16,82,71,8.57
23,23,Puerto Ayora,EC,2022-05-04 19:40:40,-0.7393,-90.3518,84.16,80,69,10.04
25,25,Bathsheba,BB,2022-05-04 19:40:41,13.2167,-59.5167,86.61,70,40,17.27
27,27,Cabo San Lucas,MX,2022-05-04 19:39:45,22.8909,-109.9124,85.05,38,0,9.22
32,32,Qui Nhon,VN,2022-05-04 19:40:43,13.7667,109.2333,76.01,82,100,5.84
33,33,Meulaboh,ID,2022-05-04 19:40:43,4.1363,96.1285,76.48,92,100,6.49

In [11]:
preferred_cities_df.count()

City_ID       169
City          169
Country       169
Date          169
Lat           169
Lng           169
Max Temp      169
Humidity      169
Cloudiness    169
Wind Speed    169
dtype: int64

In [12]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.

hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
9            Kapaa      US     77.11  22.0752 -159.3190
13          Avarua      CK     80.65 -21.2078 -159.7750
17       Hithadhoo      MV     84.15  -0.6000   73.0833
20         Rikitea      PF     77.43 -23.1203 -134.9692
21            Daru      PG     79.16  -9.0763  143.2092
23    Puerto Ayora      EC     84.16  -0.7393  -90.3518
25       Bathsheba      BB     86.61  13.2167  -59.5167
27  Cabo San Lucas      MX     85.05  22.8909 -109.9124
32        Qui Nhon      VN     76.01  13.7667  109.2333
33        Meulaboh      ID     76.48   4.1363   96.1285

In [40]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [82]:
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"
    
    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    # extract results
    results = hotels['results']

    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, 'Hotel Name'] = hotels["results"][0]["name"]    
    except (KeyError, IndexError):
        print("Hotel not found... skipping.")
hotel_df.head(10)

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

,City,Country,Max Temp,Lat,Lng,Hotel Name
9,Kapaa,US,77.11,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
13,Avarua,CK,80.65,-21.2078,-159.7750,Paradise Inn
17,Hithadhoo,MV,84.15,-0.6000,73.0833,Scoop Guest House
20,Rikitea,PF,77.43,-23.1203,-134.9692,People ThankYou
21,Daru,PG,79.16,-9.0763,143.2092,Daru Lodge
23,Puerto Ayora,EC,84.16,-0.7393,-90.3518,Finch Bay Galapagos Hotel
25,Bathsheba,BB,86.61,13.2167,-59.5167,Atlantis Hotel
27,Cabo San Lucas,MX,85.05,22.8909,-109.9124,Hotel Tesoro Los Cabos
32,Qui Nhon,VN,76.01,13.7667,109.2333,Khách sạn Hải Âu Quy Nhơn - Seagull Hotel
33,Meulaboh,ID,76.48,4.1363,96.1285,Kost Pria

In [86]:
# Add a heatmap of temperature for the vacation spots.

locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [85]:
# Add a heatmap of temperature for the vacation spots and marker for each city.

locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [87]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [88]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.

locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))